<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xi="http://www.w3.org/2001/XInclude" packages="org.magic.services.logging" status="error">
 	
  <Properties>
   	<Property name="defaultLayoutPattern">%d{yyyy-MM-dd HH:mm:ss} [%-5p] %c %L - %m%n</Property>
   	<Property name="logDirectory">${sys:user.home}/.magicDeskCompanion/logs</Property>
  </Properties>
 	
 	
  <Appenders>
   		<MTGAppender name="APPS"/>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="${sys:defaultLayoutPattern}" />
		</Console>
		<RollingFile name="ROLEFILE" filePattern="${sys:logDirectory}/mtgcompanion-%i.log" fileName="${sys:logDirectory}/mtgcompanion.log">
			<PatternLayout pattern="${sys:defaultLayoutPattern}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
    </Appenders>
    
	<Loggers>
		<Logger name="freemarker.cache" level="ERROR"></Logger>
		<Logger name="org.cache2k" level="ERROR"></Logger>
	    <Logger name="org.ehcache" level="ERROR"></Logger>
	    <Logger name="org.api.mkm" level="ERROR"></Logger>
	    <Logger name="org.api.cardtrader" level="ERROR"></Logger>
	    <Logger name="org.mtgstock.services" level="ERROR"></Logger>
	    <Logger name="org.apache.poi" level="ERROR"></Logger>
	    <Logger name="org.apache.http" level="ERROR"></Logger>
	    <Logger name="org.apache.http.wire" level="ERROR"></Logger>
	    <Logger name="org.apache.commons" level="ERROR"></Logger>
	    <Logger name="org.apache.commons.jcs" level="ERROR"></Logger>
	    <Logger name="com.jayway.jsonpath.internal.path" level="ERROR"></Logger>
	    <Logger name="twitter4j" level="ERROR"></Logger>
	    <Logger name="cz.vutbr" level="ERROR"></Logger>
	    <Logger name="org.fit" level="ERROR"></Logger>
	    <Logger name="org.eclipse.jetty" level="ERROR"></Logger>
	    <Logger name="io.milton" level="ERROR"></Logger>
	    <Logger name="com.zaxxer.hikari" level="ERROR"></Logger>
	    <Logger name="org.quartz" level="ERROR"></Logger>
	    <Logger name="org.reflections" level="OFF"></Logger>
	    <Logger name="spark.route" level="ERROR"></Logger>
	    <Logger name="com.google.guava" level="ERROR"></Logger>
	    <Logger name="net.dv8tion.jda.internal" level="ERROR"></Logger>
	    <Logger name="org.mongodb.driver" level="ERROR"></Logger>
	    <Logger name="org.cache2k.core" level="ERROR"></Logger>
	    <Logger name="spark.embeddedserver.jetty" level="ERROR"></Logger>
	    <Logger name="spark.Request" level="ERROR"></Logger>
	    <Logger name="net.tomp2p" level="ERROR"></Logger>
	    <Logger name="io.netty" level="ERROR"></Logger>
	    <Logger name="com.github.sarxos.webcam" level="ERROR"></Logger>
	    <Logger name="nl.basjes.parse.useragent" level="ERROR"></Logger>
	    <Logger name="org.jsoup" level="ERROR"></Logger>
	
        <Root level="INFO">
        	<AppenderRef ref="APPS"/>
            <AppenderRef ref="CONSOLE"/>
	        <AppenderRef ref="ROLEFILE"/>
        </Root>
    </Loggers>
</Configuration>