<?xml version="1.0" encoding="UTF-8"?>

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
   
    <appender name="APPS" class="org.magic.services.MTGAppender">
        <layout class="org.apache.log4j.PatternLayout"/>
    </appender>
   
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %L %x - %m%n"/>
        </layout>
    </appender>
   
	<appender name="ROLEFILE" class="org.apache.log4j.RollingFileAppender">
	    <param name="file" value="${user.home}/.magicDeskCompanion/logs/mtgcompanion.log" />
	    <param name="MaxFileSize" value="10MB" />
	    <param name="MaxBackupIndex" value="2" />
	        <layout class="org.apache.log4j.PatternLayout">
	            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %L %x - %m%n" />
	        </layout>
	</appender>
   
   
    <appender name="FILE" class="org.apache.log4j.FileAppender">
        <param name="append" value="true"/>
        <param name="file" value="${user.home}/.magicDeskCompanion/logs/mtgcompanion.log"/>
        <param name="threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c %L %x - %m%n"/>
        </layout>
    </appender>
    
    <logger name="freemarker.cache"><level value="ERROR"/></logger>
    <logger name="org.cache2k"><level value="ERROR"/></logger>
    <logger name="org.api.mkm"><level value="ERROR"/></logger>
    <logger name="org.api.cardtrader"><level value="ERROR"/></logger>
    <logger name="org.mtgstock.services"><level value="ERROR"/></logger>
    <logger name="org.apache.poi"><level value="ERROR"></level></logger>
    <logger name="org.apache.http"><level value="ERROR"/></logger>
    <logger name="org.apache.http.wire"><level value="ERROR"/></logger>
    <logger name="org.apache.commons"><level value="ERROR"/></logger>
    <logger name="org.apache.commons.jcs"><level value="ERROR"/></logger>
    <logger name="com.jayway.jsonpath.internal.path"><level value="ERROR"/></logger>
    <logger name="twitter4j"><level value="ERROR"/></logger>
    <logger name="cz.vutbr"><level value="ERROR"/></logger>
    <logger name="org.fit"><level value="ERROR"/></logger>
    <logger name="org.eclipse.jetty"><level value="ERROR"/></logger>
    <logger name="io.milton"><level value="ERROR"/></logger>
    <logger name="com.zaxxer.hikari"><level value="ERROR"/></logger>
    <logger name="org.quartz"><level value="ERROR"/></logger>
    <logger name="org.reflections"><level value="OFF"/></logger>
    <logger name="spark.route"><level value="ERROR"/></logger>
    <logger name="net.dv8tion.jda.internal"><level value="ERROR"/></logger>
    <logger name="org.mongodb.driver"><level value="ERROR"/></logger>
    <logger name="org.cache2k.core"><level value="ERROR"/></logger>
   <logger name="spark.embeddedserver.jetty"><level value="ERROR"/></logger>
   <logger name="spark.Request"><level value="ERROR"/></logger>
   
    <logger name="com.github.sarxos.webcam"><level value="ERROR"></level></logger>
    
    
    <root>
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APPS"/>
        <appender-ref ref="ROLEFILE"/>
    </root>
</log4j:configuration>