
 <table>
          <thead>
            <tr>
              <th>Number</th>
              <th>Name</th>
              <th>Edition</th>
           </tr>
          </thead>
          <tbody>
          <#list cards as card>
            <tr id="${card.editions[0]}">
              <td>${card.editions[0].number?if_exists}</td>
              <td><a href="page-card-${card.id?if_exists}.htm">${card.name?if_exists}</a></td>
              <td>${card.editions[0]}</td>
            </tr>
            </#list>
          </tbody>
        </table>