
<table id="table-1">
	<thead>
		<tr>
			<th>Card</th>
			<th>Name</th>
			<th>Type</th>
			<th>Cost</th>
			<th>Rarity</th>
			<th>Text</th>
			<th>Flavor</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=${card.multiverseid?if_exists}&type=card"/></td>
			<td>${card.name?if_exists}    -   </td>
			<td>${card.fullType?if_exists}</td>
			<td>${card.cost?if_exists}</td>
			<td><img src="http://gatherer.wizards.com/Handlers/Image.ashx?type=symbol&set=${card.editions[0].id}&size=medium&rarity=${card.editions[0].rarity[0..0]}"/></td>
			<td>${card.text?if_exists}</td>
			<td><i>${card.flavor?if_exists}</i></td>
		</tr>
	</tbody>
</table>