<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<title>Magic Desktop Companion</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="clear"> 
    <div id="logo" class="fl_left">
      <h1><a href="index.html">Magic Desktop Companion</a></h1>
    </div>
    <div class="fl_right">
      <ul class="inline">
        <!-- <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li> -->
        <li><i class="fa fa-envelope-o"></i> mtgdesktopcompanion@gmail.com</li>
      </ul>
    </div>
    <!-- ################################################################################################ --> 
  </header>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <nav id="mainav" class="clear"> 
    <!-- ################################################################################################ -->
    <ul class="clear">
      <li class="active"><a href="index.html">Home</a></li>
      <#list .data_model?keys as key><li><a href="page-col-${key}.htm">${key}</a></li></#list>
    </ul>
    <!-- ################################################################################################ --> 
  </nav>
</div>
<div class="wrapper row3">
 

  <main class="container clear"> 
  
  <!-- ################################################################################################ -->

    <!-- main body --> 
    <!-- ################################################################################################ -->
    
    <!-- ################################################################################################ -->
    <h2 class="sectiontitle">Collections</h2>
    <div class="clear">
    <table>
    	<table id="table-1">
			<thead>
				<tr>
					<th>Collection</th>
					<th>Cards</th>
				</tr>
			</thead>
			<tbody>
			   <#list .data_model?keys as key>
 					
				<tr>
					<td><a href="page-col-${key}.htm">${key}</a></td>
					<td>${.data_model[key]?size}</td>
				</tr>
				</#list>	
			</tbody>
		</table>
	
			   
	</table>
    </div>

  </main>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="title">Details</h6>
      <address class="btmspace-15">
      Magic Desktop Companion<br>
      </address>
      <ul class="nospace">
      <li class="btmspace-10"><a href="https://github.com/nicho92/MtgDesktopCompanion">gitHub</a></li>
        <li><span class="fa fa-envelope-o"></span> nicolas.pihen@gmail.com</li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Quick Links</h6>
      <ul class="nospace linklist">
       <#list .data_model?keys as key><li><a href="page-col-${key}.htm">${key}</a></li></#list>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Infos</h6>
      <article>
        <time class="smallfont" datetime="${.now}">${.now}</time>
        <p>Generate by FreeMarker ${.version}</p>
      </article>
    </div>
    <div class="one_quarter">
      <h6 class="title">Keep In Touch</h6>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href=""><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="https://twitter.com/mtgdesktopcomp1"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a class="faicon-instagram" href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a class="faicon-tumblr" href="#"><i class="fa fa-tumblr"></i></a></li>
      </ul>
    </div>
    <!-- ################################################################################################ --> 
  </footer>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="https://nicho92.github.io/MtgDesktopCompanion/">MTG Desktop Companion</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ --> 
  </div>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a> 
<!-- JAVASCRIPTS --> 
<script src="layout/scripts/jquery.min.js"></script> 
<script src="layout/scripts/jquery.backtotop.js"></script> 
<script src="layout/scripts/jquery.mobilemenu.js"></script> 
<script src="layout/scripts/jquery.flexslider-min.js"></script>
</body>
</html>