<!DOCTYPE html>
<html>
<head>
<title>Magic Desktop Companion</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all"/>
<link href="layout/styles/dataTables.jqueryui.css" rel="stylesheet" type="text/css" media="all"/>
<link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" />

<#setting number_format="#">
</head>
<body id="top">
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="index.htm">Magic Desktop Companion</a></h1>
    </div>
  </header>
</div>

<div class="wrapper row2">
  <nav id="mainav" class="clear"> 
    <ul class="clear">
    	<li><a href="index.htm">Home</a></li>
      <#list cols as key><li><a href="page-col-${key}.htm">${key}</a></li></#list>
    </ul>
   
  </nav>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row3">
  
  </div>
</div>

<div class="wrapper row3">
  <main class="container clear"> 
    <!-- main body --> 
    <!-- ################################################################################################ -->
    <div class="sidebar one_quarter first"> 
      <!-- ################################################################################################ -->
      <h6>Navigation</h6>
      <nav class="sdb_holder">
        <ul>
        <#list editions as ed>
          <li><a href="page-ed-${colName}-${ed.id?if_exists}.htm">${ed.set}</a></li>
        </#list>
        </ul>
      </nav>
      <div class="sdb_holder">
      </div>
      <!-- ################################################################################################ --> 
    </div>
    <!-- ################################################################################################ --> 
    <!-- ################################################################################################ -->
    <div class="content three_quarter"> 
      <!-- ################################################################################################ -->
      <h1> ${colName} - ${edition} </h1>
      <div class="scrollable">
        <table id="tablecards">
          <thead>
            <tr>
              <th>Pics</th>
              <th>Number</th>
              <th>Name</th>
              <th>Rarity</th>
           </tr>
          </thead>
          <tbody>
          <#list cards as card>
            <tr id="${card.editions[0]}">
              <td><img height="45" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=${card.editions[0].multiverseid?if_exists}&type=card"/></td>
              <td>${card.number?if_exists}</td>
              <td><a href="page-card-${card.id?if_exists}.htm">${card.name?if_exists}</a></td>
              <td>${card.rarity?if_exists}</td>
            </tr>
            </#list>
          </tbody>
        </table>
      </div>
     
    <!-- ################################################################################################ --> 
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="title">Details</h6>
      <address class="btmspace-15">
      Magic Desktop Companion<br>
      </address>
      <ul class="nospace">
      <li class="btmspace-10"><a href="https://github.com/nicho92/MtgDesktopCompanion">gitHub</a></li>
        <li><span class="fa fa-envelope-o"></span> nicolas.pihen@gmail.com</li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Quick Links</h6>
      <ul class="nospace linklist">
      <#list cols as key><li><a href="page-col-${key.name}.htm">${key.name}</a></li></#list>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Infos</h6>
      <article>
        <time class="smallfont" datetime="${.now}">${.now}</time>
        <p>Generate by FreeMarker ${.version}</p>
      </article>
    </div>
    <div class="one_quarter">
      <h6 class="title">Keep In Touch</h6>
      <ul class="faico clear">
          <li><a class="faicon-facebook" href=""><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="https://twitter.com/mtgdesktopcomp1"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a class="faicon-instagram" href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a class="faicon-tumblr" href="#"><i class="fa fa-tumblr"></i></a></li>
      </ul>
    </div>
    <!-- ################################################################################################ --> 
  </footer>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="#">MTG Desktop Companion</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ --> 
  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a> 
<!-- JAVASCRIPTS --> 
<script type="text/javascript" src="layout/scripts/jquery.min.js"></script> 
<script src="layout/scripts/jquery.backtotop.js"></script> 
<script src="layout/scripts/jquery.mobilemenu.js"></script> 
<script src="layout/scripts/jquery.flexslider-min.js"></script>
<script src="layout/scripts/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#tablecards').DataTable({
        "paging":   true,
        "ordering": true,
        "info":     true,
        "pageLength": 25,
        "lengthMenu": [[5,10, 25, 50, 100,-1], [5,10, 25, 50,100, "All"]],
        "language": {
        		"lengthMenu": " _MENU_ "
        }
    });
} );

</script>
</body>
</html>